{% extends "base.html" %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-1">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
            </div>
        </div>
    </header><br><br>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align='justify'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus metus nec est finibus, vitae tristique justo mattis. Phasellus ligula lacus, dictum et interdum eu, tincidunt id nulla. Ut consectetur elit et felis auctor, et ullamcorper odio rutrum. Aenean molestie posuere purus sit amet ultricies. Duis posuere at turpis a cursus. Cras aliquam nisl ut diam tristique, tempus varius nisi aliquam. Donec eget blandit erat, nec auctor nisl. Morbi faucibus mollis eros id fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis lorem nec sem rhoncus fermentum sed id ipsum. Ut a suscipit neque. <br><br>

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod justo consequat imperdiet mattis. Pellentesque metus dolor, fringilla a sagittis ac, ultrices a libero. Aenean pulvinar varius ante vel finibus. Donec sit amet venenatis justo, ut hendrerit metus. Sed in nisl justo. Praesent sollicitudin at lectus sed condimentum. <br><br>
                        
                        Donec eu pulvinar purus, non faucibus nunc. Maecenas eleifend neque nisi, at consequat ex feugiat ut. Etiam quis tempus nibh. Nullam eget urna sed orci tristique pretium vitae sagittis tellus. Mauris non sapien erat. Etiam nec faucibus mi. Nulla non luctus nunc, eget varius urna. Aenean tempus velit non purus tristique, vitae commodo dui ullamcorper. Nullam eu aliquam nisl. Cras imperdiet laoreet lectus, quis laoreet enim posuere ut.</p>
                </div>
            </center>
        </div>
    </div>
{% endblock content %}