{% extends "base.html" %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-1">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Choose your categories below.</h1>
            </div>
        </div>
    </header><br><br>

    <div class="container mb-5">
        <div class="row">
            <center>
                <div class="col-8">
                    {% for category in categories %}
                        <h3><a href="{% url 'category' category %}">{{ category }}</h3>
                    {% endfor %}
                </div>
            </center>
        </div>
    </div><br><br><br><br><br>
{% endblock content %}