{% extends 'base.html' %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-1">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Checkout</h1>
            </div>
        </div>
    </header>
    <div class="container mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card mb-3">
                        <div class="card-header"><b>Order Summary</b></div>
                        <div class="card-body">
                            {% for product in cart_products %}
                                {{ product.name }}
                                {% if product.is_sale %}
                                    ${{ product.sale_price }}
                                {% else %}
                                    ${{ product.price}}
                                {% endif %}<br>
                                <small>Quantity:
                                {% for key,value in quantities.items %}
                                    {% if key == product.id|slugify %}
                                        {{ value }}
                                    {% endif %}
                                {% endfor %}</small><br><br>
                            {% endfor %}
                            Total:  ${{ totals }}<br><br>
                            <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-success">Update Items</a>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header"><b>Shipping Info</b></div>
                        <div class="card-body">
                            <form action="{% url 'billing_info' %}" method="POST">
                                {% csrf_token %}                              
                                {{ shipping_form.as_p }}
                        </div>
                    </div>
                                <button type="submit" class="btn btn-primary">Continue To Billing</button>
                            </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}